<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aria_v2_arm">

  <xacro:include filename="$(find aria_description)/urdf/aria_v2.urdf" />

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="Link_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- This is the link for direct control and skill replay -->
  <link name="control" />
  <joint name="control_joint" type="fixed">
    <parent link="eef_link" />
    <child link="control" />
    <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
  </joint>

</robot>
