<launch>
        <!-- Motion control -->
        <node name="motion_control" pkg="arne_motion_simulator" type="motion_control.py" output="screen">
                <param name="frame_id" value="world"/>
                <param name="publishing_rate" value="100"/>
        </node>

        <!-- Visualization -->
        <arg name="rvizconfig" default="$(find arne_motion_simulator)/etc/setup.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

        <!-- Load robot_description to parameter server -->
        <param name="/robot_description"
        command="$(find xacro)/xacro --inorder '$(find arne_motion_simulator)/urdf/simulation.urdf.xacro'" />

        <!-- Robot state publisher for TFs -->
        <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher" >
                <param name="publish_frequency" type="double" value="100.0" />
        </node>

        <!-- Menus and configuration -->


</launch>
