<launch>
        <!-- startup simulated world -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(find arne_robot_simulator)/gazebo/world.sdf"/>
                <arg name="paused" value="false"/>
                <arg name="gui" value="true"/>
                <arg name="debug" value="false"/>
                <arg name="use_sim_time" value="false"/>
        </include>

</launch>
